<div class="grid">
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Consumido Hoje</span>
                <div class="text-900 font-medium text-xl">{{consHoje | number:'1.2-2':'pt'}} kWh - R$ {{consHojeMoney | number:'1.2-2':'pt'}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-red-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                <i class="pi pi-thumbs-down-fill text-red-500 text-xl"></i>
            </div>
        </div>
        <span class="font-medium" [ngClass]="consHojeMoney > injHojeMoney ? 'text-red-500' : 'text-green-500'">{{consHojeMoney > injHojeMoney ? 'R$ ' + ((consHojeMoney - injHojeMoney) | number:'1.2-2':'pt') : 'crédito'}} </span>
        <span class="text-500">no consumo</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
  <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
          <div>
              <span class="block text-500 font-medium mb-3">Gerado Hoje</span>
              <div class="text-900 font-medium text-xl">{{(gerHoje < injHoje ? injHoje : gerHoje) | number:'1.2-2':'pt'}} kWh</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
              <i class="pi pi-thumbs-up-fill text-green-500 text-xl"></i>
          </div>
      </div>
      <span class="font-medium text-blue-500" >{{( (gerHoje < injHoje ? injHoje : gerHoje) - injHoje | number:'1.2-2':'pt')}} kWh </span>
      <span class="text-500">consumo da geração</span>
  </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Injetado Hoje</span>
                <div class="text-900 font-medium text-xl">{{injHoje | number:'1.2-2':'pt'}} kWh - R$ {{injHojeMoney | number:'1.2-2':'pt'}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                <i class="pi pi-thumbs-up-fill text-green-500 text-xl"></i>
            </div>
        </div>
        <span class="font-medium" [ngClass]="consHojeMoney > injHojeMoney ? 'text-red-500' : 'text-green-500'">{{consHojeMoney > injHojeMoney ? 'débito' : 'R$ ' + ( (injHojeMoney - consHojeMoney) | number:'1.2-2':'pt') }} </span>
        <span class="text-500">na geração</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Consumido Mês</span>
                <div class="text-900 font-medium text-xl">{{consMes | number:'1.2-2':'pt'}} kWh - R$ {{consMesMoney | number:'1.2-2':'pt'}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                <i class="pi pi-thumbs-down text-orange-500 text-xl"></i>
            </div>
        </div>
        <span class="font-medium" [ngClass]="consMesMoney > injMesMoney ? 'text-red-500' : 'text-green-500'">{{consMesMoney > injMesMoney ? 'R$ ' + ((consMesMoney - injMesMoney) | number:'1.2-2':'pt') : 'crédito'}} </span>
        <span class="text-500">no consumo</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
  <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
          <div>
              <span class="block text-500 font-medium mb-3">Gerado Mês</span>
              <div class="text-900 font-medium text-xl">{{(gerMes < injMes ? injMes : gerMes) | number:'1.2-2':'pt'}} kWh </div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
              <i class="pi pi-thumbs-up text-blue-500 text-xl"></i>
          </div>
      </div>
      <span class="font-medium text-blue-500">{{( (gerMes < injMes ? injMes : gerMes) - injMes | number:'1.2-2':'pt')}} kWh </span>
      <span class="text-500">consumo da geração</span>
  </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Injetado Mês</span>
                <div class="text-900 font-medium text-xl">{{injMes | number:'1.2-2':'pt'}} kWh - R$ {{injMesMoney | number:'1.2-2':'pt'}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                <i class="pi pi-thumbs-up text-blue-500 text-xl"></i>
            </div>
        </div>
        <span class="font-medium" [ngClass]="consMesMoney > injMesMoney ? 'text-red-500' : 'text-green-500'">{{consMesMoney > injMesMoney ? 'débito' : 'R$ ' + ( (injMesMoney - consMesMoney) | number:'1.2-2':'pt') }} </span>
        <span class="text-500">na geração</span>
    </div>
  </div>
</div>

